:root {
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  /* font-size: 16px;
  line-height: 24px;
  font-weight: 400; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /** Colors **/

  --white: #fff;
  --black: #000;
  --bg-light-grey: #f4f4f4;
  --blue: #1270b5;
  --dark-grey: #2d2d2d;
}

body {
  margin: 0;
}
